@model IEnumerable<AllieEntity.User>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ManageUserMaster</title>


</head>

<body>
    <div align="center">
        <form method="post">
            <table align="center">
                <tr>
                    <td>
                        Search
                    </td>

                    <td><input type="text" id="SearchString" placeholder="Search by User Name" name="SearchText" /><input type="submit" value="Search" /></td>

                </tr>

            </table>

            <div align="center">
                <h2>List Of Employee</h2>
                <table align="center">
                    <tr bgcolor="#00FF00">
                        <th>Owner Id</th>
                        <th>Owner Name</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Email</th>
                    </tr>

                    @*<tbody id="DataSearching">*@
                    @using AllieEntity
                    @using AllieService

                    @foreach (var user in Model)
                    {

                        <tr>
                            <td>@Html.DisplayFor(modelItem => user.UserId)</td>
                            <td>@Html.DisplayFor(modelItem => user.UserName)</td>
                            <td>@Html.DisplayFor(modelItem => user.Address)</td>
                            <td>@Html.DisplayFor(modelItem => user.Phone)</td>
                            <td>@Html.DisplayFor(modelItem => user.Email)</td>
                    </tr>

                                }
                    @*</tbody>*@
                </table>

                    @Html.ActionLink("To Dashboard", "Index")
                </div>
            </div>
        </form>
    </div>
</body>

</html>

