@model AllieEntity.Journal

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Generate Journal</title>
</head>
<body>
    <div align="center">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <table>
                <tr>
                    <td>Journal Description</td>
                    <td><textarea cols="50" rows="2" name="Description"></textarea></td>
                </tr>
                <tr>
                    <td>Select Month</td>
                    <td>
                        <select name="Month">
                            @{
                                string[] months = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthNames;
                            }
                            @for (int i = 0; i < 12; i++)
                            {
                                <option name="@months[i]" value="@i">@months[i]</option>
                            }
                        </select>
                    </td>
                    <td>
                        <select name="Year">
                            @for (int i = 2015; i <= 2020; i++)
                            {
                                <option name="@i" value="@i">@i</option>
                            }
                        </select>
                    </td>
                </tr>
                <tr><td><input type="submit"  value="Generate Journal with transactions of the selected month" /></td></tr>
            </table>
            
        }
    </div>
</body>
</html>
