@model AllieEntity.Journal
@using AllieEntity
@using AllieService
@using AllieService.ServiceInterfaces
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div align="center">
        @{
            IAccountServices accServ = ServiceFactory.GetAccountServices();
            ITransactionTypeServices ttypeServ = ServiceFactory.GetTransactionTypeServices();
            ITransactionDetailServices detailServ = ServiceFactory.GetTransactionDetailServices();
            ITransactionServices transactionServ = ServiceFactory.GetTransactionServices();
            string month = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthNames[Model.JournalPeriod.Month - 1];
            List<Transaction> transactionList = (List<Transaction>)transactionServ.GetByJournal(Model.Id);
            double totalDebit = 0, totalCredit = 0;
        }

        <h2>Monthly Journal For the Month of @month @Model.JournalPeriod.Year</h2>
        <table>
            <tr>
                <td>Journal Description: </td>
                <td><i>@Model.JournalDescription</i></td>
            </tr>
        </table>
        <br /><hr />
        <table border="1" width="50%">
            <tr>
                <th>Date</th>
                <th>Account Descriptions</th>
                <th></th>
                <th>Debits</th>
                <th>Credits</th>
            </tr>

            @foreach (Transaction t in transactionList)
            {
                List<TransactionDetail> detail = (List<TransactionDetail>)detailServ.GetAll(t.Id);
                int i = 0;
                foreach (TransactionDetail d in detail)
                {
                    <tr>
                        @if (i == 0)
                        {
                            <td>@t.TransactionDate.ToShortDateString()</td>
                            i++;
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>
                            @{
                                string desc = accServ.Get(d.AccountId).AccountDescription;
                            }
                            @desc
                        </td>
                        <td></td>
                        @{
                            string type = ttypeServ.Get(d.TransactionType).Type;
                            if (type == "Debit")
                            {
                                <td>@d.Amount</td>
                                <td></td>
                                totalDebit += d.Amount;
                            }
                            else
                            {
                                <td></td>
                                <td>@d.Amount</td>
                                totalCredit += d.Amount;
                            }
                        }
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            }
            <tr>
                <td></td>
                <td><strong>Total: </strong></td>
                <td></td>
                <td>@totalDebit</td>
                <td>@totalCredit</td>
            </tr>
        </table>
        <a href="/Company/Index">To Dashboard</a>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
