@model AllieEntity.TransactionDetail
@using AllieEntity
@using AllieService
@using AllieService.ServiceInterfaces


@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section title{Generate Journal}
<div class="container" align="center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        Journal journal = (Journal)Session["Journal"];
        string month = System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.MonthNames[journal.JournalPeriod.Month - 1];

        <div align="center">
            <h2>Monthly Journal For the Month of @month @journal.JournalPeriod.Year</h2>
            <table>
                <tr class="form-inline" class="form-control">
                    <td>Journal Description</td>
                    <td><textarea readonly cols="50" rows="2" name="Description">@journal.JournalDescription</textarea></td>
                </tr>
            </table>
            @{
                List<Transaction> transactionList = (List<Transaction>)Session["TransactionList"];
                IAccountServices accServ = ServiceFactory.GetAccountServices();
                ITransactionTypeServices tServ = ServiceFactory.GetTransactionTypeServices();
                ITransactionDetailServices detailServ = ServiceFactory.GetTransactionDetailServices();
                double totalDebit = 0, totalCredit = 0;
            }
            <br /><hr />
            <table class="table table-striped">
                <tr>
                    <th>Date</th>
                    <th>Account Descriptions</th>
                    <th></th>
                    <th>Debits</th>
                    <th>Credits</th>
                </tr>

                @foreach (Transaction t in transactionList)
                {
                    List<TransactionDetail> detail = (List<TransactionDetail>)detailServ.GetAll(t.Id);
                    int i = 0;
                    foreach (TransactionDetail d in detail)
                    {
                        <tr>
                            @if (i == 0)
                            {
                                <td>@t.TransactionDate.ToShortDateString()</td>
                                i++;
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>
                                @{
                                    string desc = accServ.Get(d.AccountId).AccountDescription;
                                }
                                @desc
                            </td>
                            <td></td>
                            @{
                                string type = tServ.Get(d.TransactionType).Type;
                                if (type == "Debit")
                                {
                                    <td>@d.Amount</td>
                                    totalDebit += d.Amount;
                                    <td></td>
                                }
                                else
                                {
                                    <td></td>
                                    <td>@d.Amount</td>
                                    totalCredit += d.Amount;
                                }
                            }
                        </tr>
                                }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                }
                <tr>
                    <td></td>
                    <td><strong>Total: </strong></td>
                    <td></td>
                    <td>@totalDebit</td>
                    <td>@totalCredit</td>
                </tr>
            </table>
            <hr />
            <input class="btn btn-success" type="submit" value="Save Journal" />
            <br />
            <br />
        </div>
        
                                }
    <a href="/Company/Index"><i class="glyphicon glyphicon-dashboard"></i>To Dashboard</a>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "glyphicon glyphicon-plus" })
    <br /><br />
</div>