@model AllieEntity.Account
@using AllieService

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section title{Create}
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/CreateAccountValidations.js"></script>

<div align="center" class="container-fluid">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Create new Account</h4>
            <hr />
            @ViewBag.Error
            <div class="form-group">
                AccountNumber
                <div class="form-inline">
                    <input class="form-control" type="text" name="AccountNumber" value="" id="AccNumber" /><label style="color:red">*</label>
                    <p id="AccountNumberError" hidden></p>
                </div>
            </div>

            <div class="form-group">
                AccountName
                <div class="form-inline">
                    <textarea class="form-control" rows="3" cols="40" name="AccountDescription" id="AccName"></textarea><label style="color:red">*</label>
                    <p id="AccountNameError" hidden></p>
                </div>
            </div>

            <div class="form-group">
                Amount
                <div class="form-inline">
                    <input class="form-control" type="number" name="Amount" value="0" id="AccAmount" /><label style="color:red">*</label>
                    <p id="AmountError" hidden></p>
                </div>
            </div>

            <div class="form-group">
                AccountType
                <div class="form-inline">
                    <select class="form-control" name="AccountType">
                        @using AllieEntity
                        @{
                            List<AccountType> list = (List<AccountType>)ServiceFactory.GetAccountTypeServices().GetAll();
                        }
                        @foreach (AccountType acc in list)
                        {
                            <option name="@acc.Type" value="@acc.Id">@acc.Type</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="form-inline">
                    <input type="submit" class="btn btn-default" value="Create" id="submit" disabled />
                </div>
            </div>
        </div>
                            }
    <div align="center">
        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class="btn btn-success"})
    </div>

</div>

