@model AllieEntity.Account

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section title{Account Details}
<div class="container-fluid" align="center">
    <h4>Account</h4>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.AccountNumber)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.AccountNumber)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.AccountDescription)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.AccountDescription)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
    
        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
    
        <dt>
            @Html.DisplayNameFor(model => model.AccountType)
        </dt>
    
        <dd>
            @using AllieService
            @{ 
                string type = ServiceFactory.GetAccountTypeServices().Get(Model.AccountType).Type;
            }
            @type
        </dd>
    
    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class="btn btn-success"}) 
        @Html.ActionLink("Account List", "Index", null, htmlAttributes: new { @class = "btn btn-success" })
    </p>
</div>
