@model AllieEntity.Account

@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
}
@section title{Edit}
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/EditAccountValidation.js"></script>

<div align="center" class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Edit Account</h4>
            <hr />
            @ViewBag.Error

            <div class="form-group">
                AccountNumber
                <div class="form-inline">
                    <input class="form-control" type="text" name="AccountNumber" id="AccNumber" value="@Model.AccountNumber" /><label style="color:red">*</label>
                    <p id="AccountNumberError" hidden></p>
                </div>
            </div>

            <div class="form-inline">
                AccountDescription
                <div class="form-inline">
                    <textarea class="form-control" rows="3" cols="40" name="AccountDescription" id="AccName">@Model.AccountDescription</textarea><label style="color:red">*</label>
                    <p id="AccountNameError" hidden></p>
                </div>
            </div>

            <div class="form-group">
                Amount
                <div class="form-inline">
                    <input class="form-control" type="text" name="Amount" value="@Model.Amount" id="AccAmount" /><label style="color:red">*</label>
                    <p id="AmountError" hidden></p>
                </div>
            </div>

            <div class="form-group">
                AccountType
                <div class="form-inline">
                    <select class="form-control" name="AccountType">
                        @using AllieEntity
                        @using AllieService
                        @{
                            List<AccountType> list = (List<AccountType>)ServiceFactory.GetAccountTypeServices().GetAll();
                        }
                        @foreach (AccountType acc in list)
                        {
                            if (Model.AccountType == acc.Id)
                            {
                                <option name="@acc.Type" value="@acc.Id" selected>@acc.Type</option>
                            }
                            else
                            {
                                <option name="@acc.Type" value="@acc.Id">@acc.Type</option>
                            }
                        }
                    </select>
                </div>
            </div>

            <div class="form-group" align="center">
                <div class="form-inline">
                    <input type="submit" value="Save" class="btn btn-success" id="submit" />
                    <a href="/Account/Index" class="btn btn-warning">Account List</a>
                </div>
            </div>
        </div>
                            }
</div>