@model IEnumerable<AllieEntity.Account>
@using AllieService

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    @if(Model.Count() == 0)
    {
        <p>No account belonging to your company is available</p>
        <br/>
    }


        <h3>Accounts of your company</h3>
        <table class="table" border="1">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountType)
            </th>
            <th>
                Actions
            </th>
        </tr>
    
        @foreach (var item in Model)
        {
        
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccountDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    @{ 
                        string type = ServiceFactory.GetAccountTypeServices().Get(item.AccountType).Type;
                    }
                    @type
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.Id })
                </td>
            </tr>
        
        }
    
        </table>

        @Html.ActionLink("Create New", "Create") |
        @Html.ActionLink("To Dashboard", "Index", "Company")
</body>
</html>
