@using AllieEntity
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/ExternalTransactionScript.js"></script>
    <title>CreateExternalTransaction</title>
</head>
<body>
    <div align="center">
        <h2>Enter Transaction Details</h2><hr />
        <div id="externaltransactionDetailDiv">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <table>
                    @{
                        Transaction transaction = (Transaction)ViewBag.Transaction;
                    }
                    <tr>
                        <td>Transaction Date</td>
                        <td><label>@transaction.TransactionDate.ToShortDateString()</label></td>
                    </tr>
                    <tr>
                        <td>Transaction Description</td>
                        <td><label>@transaction.TransactionDescription</label></td>
                    </tr>
                </table>
                <table width="40%">
                    <tr>
                        <td>Amount: </td>
                        <td><input type="number" name="Amount" min="0" /></td>
                    </tr>
                    <tr>
                        @*left part*@
                        <td>
                            Account 1<hr />
                            Select Account<br />
                            @Html.DropDownList("Account_1", (List<SelectListItem>)ViewBag.SelectList)
                            <br />

                            Transaction <br />
                            <input type="text" name="Account_1_TransactionType" id="Account_1_TransactionType" value="" readonly />
                        </td>
                        @*right part*@
                        <td>
                            Account 2<hr />
                            Select Account<br />
                            @Html.DropDownList("Account_2", (List<SelectListItem>)ViewBag.SelectList)
                            <br />

                            Transaction <br />
                            <input type="text" name="Account_2_TransactionType" id="Account_2_TransactionType" value="" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><input type="submit" id="submit" value="Confirm Transaction" disabled />
                            <input type="hidden" name="TransactionId" value="@transaction.Id" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center"><p id="error"></p></td>
                    </tr>
                </table>
            }
            <a href="/Company/Index">To Dasboard</a>

        </div>
    </div>
</body>
</html>
